.AwesomeButtons:hover{
    color:rgb(255, 0, 0);
    background-color:rgb(216, 216, 255);
}
.AwesomeButtons{
    background-color: rgb(255, 255, 255);
    padding:3px;
    border-radius: 5px;
    height:fit-content;
    width:fit-content;
}
a{
    text-decoration: none;
}
table{
    background-color: black;
    padding:0px;
}
/* Navigation panel stuff */
header{
    position:absolute;
    background-color: rgba(62, 62, 62, 0.507);
    padding:15px;
    margin-left: 70%;
}
header a{
    background-color: rgb(0, 0, 0);
    color:white;
    padding:5px;
    border-radius: 5px;
    margin:5px;
    font-weight:normal;
    text-decoration: none;
}
#current{
    background-color: blue;
    color:white;
    font-weight:bold;
    font-size:110%;
}
#current:hover{
    background-color: rgb(155, 255, 255);
    color:rgb(0, 0, 0);
}
header a:hover{
    background-color: rgb(155, 255, 255);
    color:rgb(0, 0, 0);
}
#MAIN{
    background-color: blueviolet;
}
#RULES{
    background-color: rgb(101, 25, 25);
}
/* Main page */
#logo{
    width:50%;
    margin:30px;
}
#LawOfRoot{
    position:absolute;
    left:50%;
    top:22%;
}
#john_button{
    font-size:large;
}
#LawOfIMAGE{
    position:absolute;
    left:65%;
    top:18%;
    width:20%;
    background-color:white;
    transform:rotate(15deg);
}
#LawOfIMAGE img{
    position:absolute;
    left:0%;
    top:0%;
    width:50%;
}
#RuleTable{
    background-color: black;
    width:70%;
    height:calc(100vh - 80px - (50vw * 754 / 1866));
    padding:2px;
    margin:10px;
    font-size: large;
    text-align: center;
}
#FactionTable{
    position:absolute;
    left:75%;
    margin:30px;
    top:5%;
    text-align: center;
    height:87%;
    width: calc(20% - 60px);
    background-color: black;
    padding:3px;
}
#FactionTable div{
    font-size:calc(1cqw + 1cqh);
}
#FactionTitle{
    height:0px;
    font-weight: bolder;
    font-size:30px;
    background-color: rgb(255, 142, 142);
}
#TableTitle{
    font-size:150%;
    background-color:rgb(0, 255, 255);
    height:10%;
}
#listItems{
    height:90%;
}
body table tr{
    background-color:white;
}
body{
    position:absolute;
    height:100vh;
    margin:0;
    padding:0;
    width:100vw;
    overflow-x:hidden;
}
/* Rules page stuff */
#NAVTABLE{
    margin:10px;
    text-align: center;
    font-size:xx-large;
}
/* Factions stuff */
.ButtonClass{
    position:absolute;
    border-radius: 30%;
    padding:0.3%;
    margin:0.2%;
    transform: translate(-50%,-50%);
}
.ButtonClass:hover{
    position:absolute;
    background-color:rgb(255, 255, 255);
    margin:0.1%;
    padding: 0.4%;
}
.Boards{
    position:absolute;
    border-radius: 30px;
    padding:4px;
    width:100%;
    height:100%;
    left:0%;
    top:0%;
    margin:0%;
    background-color: black;
    user-select: none;  
}
.Boards:hover{
    background-color: rgb(100, 100, 100);
    cursor:grab;
}
.Boards:active{
    cursor:grabbing;
}
.Character{
    position:absolute;
    top:min(9vh,9vw);
    left:calc(min(5vh,5vw) + ( 100vw - min(3vh,3vw) - min(100vh,55vw) - min(30vw,60vh) )/2 + min(100vh,55vw));
    width:min(30vw,60vh);
    height:min(30vw,60vh);
}
#Ginfo{
    position:absolute;
    top:calc(min(5vh,5vw) + 0.025 * min(77.096vh,42.028vw));
    left:calc(min(3vh,3vw) + min(100vh,55vw) + 0.025 * (100vw - min(3vh,3vw) - min(100vh,55vw)));
    width:calc(0.95 * (100vw - min(3vh,3vw) - min(100vh,55vw)));
    height:fit-content;
    background-color:rgb(240, 248, 255,0.3);
    border-color:black;
    border-radius: 1vh;
}
#description{
    background-color: rgb(240,240,255,0.7);
    padding:0.5%;
    margin: 10px;
    max-height:30%;
    font-size:1cqw;
    width:calc(100% - 20px - 0.5%);
}
#example{
    position:relative;
    margin:3%;
    margin-top:0px;
    margin-bottom:10px;
    border-radius: 5px;
    width:calc(100% - 6%);
    max-width:65vh;
}
.buttons{
    background-color:rgba(255, 0, 0, 0);
    border-color: white;
}
.buttons:hover{
    background-color:rgba(255, 255, 255, 0.256);
    cursor:pointer;
}