body{
    position:absolute;
    height:100vh;
    margin:0;
    padding:0;
    width:100vw;
    overflow-x:hidden;
}

.ButtonClass{
    position:absolute;
    border-radius: 30%;
    padding:0.3%;
    margin:0.2%;
    transform: translate(-50%,-50%);
}
.ButtonClass:hover{
    position:absolute;
    background-color:rgb(255, 255, 255);
    margin:0.1%;
    padding: 0.4%;
}
.Boards{
    position:absolute;
    border-radius: 30px;
    padding:4px;
    width:100%;
    height:100%;
    left:0%;
    top:0%;
    margin:0%;
    background-color: black;       
}
.Boards:hover{
    background-color: rgb(100, 100, 100);
}
.Character{
    position:absolute;
    top:min(12vh,12vw);
    left:calc(min(5vh,5vw) + ( 100vw - min(3vh,3vw) - min(100vh,55vw) - min(30vw,60vh) )/2 + min(100vh,55vw));
    width:min(30vw,60vh);
    height:min(30vw,60vh);
}
.buttons{
    background-color:rgba(255, 0, 0, 0);
    border-color: white;
    color: rgb(0, 185, 194);
}
.buttons:hover{
    background-color:rgba(255, 255, 255, 0.256);
}