body{
    position:absolute;
    height:100vh;
    margin:0;
    padding:0;
    width:100vw;
    overflow-x:hidden;
}

.ButtonClass{
    position:absolute;
    border-radius: 30%;
    padding:0.3%;
    margin:0.2%;
    transform: translate(-50%,-50%);
}
.ButtonClass:hover{
    position:absolute;
    background-color:rgb(255, 255, 255);
    margin:0.1%;
    padding: 0.4%;
}
.Boards{
    position:absolute;
    border-radius: 30px;
    padding:4px;
    width:100%;
    height:100%;
    left:0%;
    top:0%;
    margin:0%;
    background-color: black;       
}
.Boards:hover{
    background-color: rgb(100, 100, 100);
}
.Character{
    position:absolute;
    top:min(9vh,9vw);
    left:calc(min(5vh,5vw) + ( 100vw - min(3vh,3vw) - min(100vh,55vw) - min(30vw,60vh) )/2 + min(100vh,55vw));
    width:min(30vw,60vh);
    height:min(30vw,60vh);
}
#Ginfo{
    position:absolute;
    top:calc(min(3vh,3vw) + 0.025 * min(77.096vh,42.028vw));
    left:calc(min(3vh,3vw) + min(100vh,55vw) + 0.025 * (100vw - min(3vh,3vw) - min(100vh,55vw)));
    width:calc(0.95 * (100vw - min(3vh,3vw) - min(100vh,55vw)));
    height:fit-content;
    background-color:rgb(240, 248, 255,0.3);
    border-color:black;
    border-radius: 1vh;
}
#description{
    background-color: rgb(240,240,255,0.7);
    padding:0.5%;
    margin: 10px;
    max-height:30%;
    font-size:1cqw;
    width:calc(100% - 20px - 0.5%);
}
#example{
    position:relative;
    margin:3%;
    margin-top:0px;
    margin-bottom:10px;
    border-radius: 5px;
    width:calc(100% - 6%);
    max-width:65vh;
}
.buttons{
    background-color:rgba(255, 0, 0, 0);
    border-color: white;
}
.buttons:hover{
    background-color:rgba(255, 255, 255, 0.256);
}